* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    min-height: 100dvh;
    background-color: #333;

    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 350px;
    height: 450px;
    border: 2px solid #aaaaaa;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    transition: all 0.6s;
    perspective: 1000px;
    margin: 5px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 149, 239);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(1, 93, 4);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 20px;
    transform: rotateY(180deg);
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
}

.card-back > h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.card-back > p {
    text-align: center;
}

.card-face .card-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.card-img1 {
    background: url("./assets/1.jpg") center / cover no-repeat;
}

.wrapper:hover {
    scale: 0.95;
    box-shadow: 2px 2px 30px #aaaaaa, -2px -2px 30px #aaaaaa;
}

.card-img2 {
    background: url("./assets/2.jpg") center / cover no-repeat;
}

.card-img3 {
    background: url("./assets/3.jpg") center / cover no-repeat;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

@media only screen and (max-width: 1000px) {
    body {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .wrapper {
        width: 250px;
        height: 350px;
    }

    .card-face .card-img {
        width: 150px;
        height: 150px;
    }

    img {
        width: 125px;
        height: 125px;
    }

    .card-back > h3 {
        font-size: 1.2rem;
}